{% block content %}
{% load static %}

{% include 'header.html' %}


     


            <!-- Contact Start -->
            <div class="contact wow fadeInUp">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Get In Touch</p>
                        <h2>User Registration</h2>
                    </div>
                    <center>
                        <div class="col-md-6">
                            <div class="contact-form">
                                <div id="success"></div>
                                <form action="adduser" method="post" id="contactForm" novalidate="novalidate">
                                    {% csrf_token %}
                                    <div class="control-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="form-control" id="subject" name="phone" placeholder="Contact Number" required="required" data-validation-required-message="Please enter a Number" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="date" class="form-control" id="dob" name="dob" placeholder="Contact Number" required="required" data-validation-required-message="Please enter a DOB" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <textarea class="form-control" id="address" placeholder="Address" name="address" required="required" data-validation-required-message="Please enter your Address"></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required" data-validation-required-message="Please enter a Password" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    
                                    <div>
                                        <button class="btn" type="submit" id="sendMessageButton">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
            <!-- Contact End -->



            {% include 'footer.html' %}

            {% endblock %}